body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: roboto;
}

.top {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    height: 500px;
}

.header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.header p {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.links {
    display: flex;
    list-style-type: none;
}

.links li {
    padding: 0 8px;
    
}

.links a:link,
.links a:visited,
.links a:hover,
.links a:active {
    text-decoration: none;

}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    width: 500px;
    margin-right: 50px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-text p,
.links a {
    font-size: 18px;
    color: #E5E7EB;
}

.image-place {
    display: flex;
    background-color: gray;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 300px;
}

button {
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    color: #E5E7EB;
    padding: 6px 24px;
    font-weight: bold;
}

.info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9FAF8;
    height: 500px;
}

.info-block ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.info-block>p {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.info-block li {
    width: 180px;
    margin: 30px;
    text-align: center;
}

.info-block .info-image {
    width: 180px;
    height: 180px;
    border: 2px solid #3882F6;
    border-radius: 16px;
}